.App {
  text-align: center;
}
.form_data {
  padding: 10px;
}
.form_field {
  margin: 5px;
}
.error {
  color: red;
}
nav a {
  padding: 4px;
  margin: 4px;
}
nav {
  background-color: aqua;
  padding: 15px;
}
nav a.active {
  text-decoration: none;
  font-weight: bold;
}
.user-card {
  width: 300px;
  padding: 5px;
  background-color: #f0f0f0;
  box-shadow: 1px 4px 6px 0px;
  margin: 20px;
}
.user-container {
  display: flex;
  flex-wrap: wrap;
}
.nav-card {
  display: flex;
  justify-content: flex-end;
}
button {
  cursor: pointer;
}
.nested1 {
  width: 500px;
  border: 1px solid grey;
}
